body {
    background-color: rgb(63, 62, 62);
    color: #ffffff;
}
.card {
    padding: 1vw;
}
.middle{
    text-align: center;
}
.melee-colour {
    background-color: #d20000;
}

.ranged-colour {
    background-color: #21a08d;
}

.mage-colour {
    background-color: #9d0d79;
}

.sumonning-colour {
    background-color: #066aff;
}